<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Android官方下拉刷新SwipeRefreshLayout使用.md</string>
		</array>
		<array>
			<string>Android执行shell命令.md</string>
		</array>
		<array>
			<string>Git高级命令技巧.md</string>
		</array>
		<array>
			<string>Volley网络请求源码解析——击溃6大疑虑（二）.md</string>
		</array>
		<array>
			<string>使用Android系统的DownloadManager来实现自己的下载管理器.md</string>
		</array>
		<array>
			<string>使用CardView实现卡片式Google-Plus布局.md</string>
		</array>
		<array>
			<string>使用MonkeyRunner进行自动化测试.md</string>
		</array>
		<array>
			<string>使用volley来开发Android应用程序（一）.md</string>
		</array>
		<array>
			<string>使用权重居中控件.md</string>
		</array>
		<array>
			<string>关于Android-Studio，你需要知道的9件事.md</string>
		</array>
		<array>
			<string>关于LayoutInflater的inflate方法.md</string>
		</array>
		<array>
			<string>关于Vim一些不常用的36个小技巧.md</string>
		</array>
		<array>
			<string>在Android-iOS中使用Protobuf技术.md</string>
		</array>
		<array>
			<string>在Android中实现阴影效果.md</string>
		</array>
		<array>
			<string>惊艳！在Android-iOS开发中使用IconFont.md</string>
		</array>
		<array>
			<string>抓包百度云、115、360网盘真实地址.md</string>
		</array>
		<array>
			<string>搭建基于Android开发的持续集成引擎.md</string>
		</array>
		<array>
			<string>规范命名，远离bug.md</string>
		</array>
		<array>
			<string>解决Ant编译打包错误-非法字符-ufeff.md</string>
		</array>
		<array>
			<string>解决Mac-OS-X-升级10-10-Yosemite-后ADT-Eclipse-无法找到真机.md</string>
		</array>
	</array>
</dict>
</plist>
